h1 {
  font-size: 2.5em;
  color: tomato;
  text-align: right;
}

.sym {
  font-size: 3em;
  text-align: right;
  color:#F5F5F5;
}

h3 {
  font-size: 1.5em;
  color: #F5F5F5;
  text-align: right;
}

#intro{
  text-align: right;
}


.big-pic{
  background:url(/images/1small.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 800px;
  max-height: 50%;
  width: 100%;
}
