h1 {
  font-size: 4em;
  color: tomato;
  font-weight: bold;
  text-align: right;
  font-family: 'Comic Neue Angular', sans-serif;
}

.sym {
  font-size: 3.5em;
  text-align: right;
  color:#F5F5F5;
  font-family: 'Comic Neue Angular', sans-serif;
}

h3 {
  font-size: 1.75em;
  color: #F5F5F5;
  text-align: right;
  font-family: 'Karla', sans-serif;
}

#intro{
  text-align: right;
}


.big-pic{
  background:url(/images/1small.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 800px;
  max-height: 50%;
  width: 100%;
}
