@media (max-device-width: 450px){
  h1 {
  font-size: 2.75em;
  color: tomato;
  text-align: center;
  }

  .sym {
    font-size: 1.75em;
    text-align: center;
  }

  h3 {
    font-size: 2em;
    color: #F5F5F5;
    text-align: center;
  }

  .big-pic{
    background:url('/images/1crop.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
  }


  h2 {
    font-size: 1.25em;
    font-weight: bold;
  }

  .me {
    font-size: 1em;
    text-align: left;
  }

  #content {
    text-align: left;
    height: 600px;
  }

  .my-projects{
    color: #FF4500;
    font-size: 1.25em;
  }

  .source {
    color: #FF4500;
    font-size: .75em;
  }

  #projects {
    height: 600px;
    width: 100%;
  }

  .big-pic2{
    background:url('/images/2crop.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
  }

  .contact li a {
    font-size: 1.5em;
    display: block;
  }

  .contact li a:hover{
    text-decoration: none;
    color:#FF4500;
    text-transform: none;
  }

}
