#content {
  text-align: center;
  height: 650px;
  width: 100%;
  font-family: 'Karla', sans-serif;
  background-color: rgba(220, 220, 220, .5);
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

.me {
  font-size: 1.5em;
  text-align: center;
}

.skills{
  list-style: none;
  color: #FF4500;
}

.skills span {
  color:black;
  text-decoration: underline;
}

#about-me{
  background-color: rgba(240, 248, 255, .5);
}
