.navbar  {
  list-style: none;
  text-align: center;
  background-color: #F5F5F5;
  min-height: 30px;
  opacity: 0.75;
}

.navbar span a{
  display: inline;
  font-size: 1.25em;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  color: #FF4500;
  padding: 0px 20px 0px 20px;
}

.navbar span:hover {
  opacity: 0.5;
}

footer {
  text-align: center;
  background-color: #F5F5F5;
  font-family: 'Karla', sans-serif;
  opacity: .75;
}

footer p {
  color: #FF4500;
}

