#content {
  text-align: center;
  height: 400px;
  font-family: 'Port Lligat Sans', sans-serif;
}

.navbar  {
  list-style: none;
  text-align: center;
  background-color: white;
  min-height: 30px;
  border-bottom-color: tomato;
}

.navbar span {
  display: inline;
  font-size: 1.5em;
  font-family: 'Port Lligat Sans', sans-serif;
  text-decoration: none;
  color: black;
  padding: 0px 20px 0px 20px;
}

#frontpage a {
  color: black;
  text-decoration: none;
}

.navbar span:hover {
  opacity: 0.5;
}

h1 {
  font-size: 4em;
}

.sym {
  font-size: 7em;
}

.sym2{
  font-size: 2em;
  font-family: 'Port Lligat Sans', sans-serif;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 3em;
}

.me {
  font-size: 1em;
  text-align: left;
  font-family: 'Lato', sans-serif;
}

.tech {
  color: tomato;
}

#email {
  text-decoration: none;
  color: tomato;
  font-family: 'Lato', sans-serif;
}

footer {
  text-align: right;
  background-color: tomato;
  font-family: 'Port Lligat Sans', sans-serif;
}

footer p {
  padding-right: 20px;
  color: black;
}
